<!DOCTYPE html>
<html>

    <head></head>
    <body>
        <h1>CargoShip</h1>
        <h3>Nama: Farrell Muhammad Hanau</h3>
        <h3>Kelas: PBP-C</h3>
        <br>
        <h2>Shipper: Efemeitch Express</h2>
        
        <h3>Cargo #1</h3>
        <table border="1" cellspacing="3" cellpadding="3">
            <tr>
                <td>Name</td>
                <td>Owner</td>
                <td>Type</td>
                <td>Ammount</td>
                <td>Weight</td>
            </tr>
            <tr>
                {% for key, value in Cargo1.Item1.items %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for key, value in Cargo1.Item2.items %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for key, value in Cargo1.Item3.items %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
        </table>

        <h3>Cargo #2</h3>
        <table border="1" cellspacing="3" cellpadding="3">
            <tr>
                <td>Name</td>
                <td>Owner</td>
                <td>Type</td>
                <td>Ammount</td>
                <td>Weight</td>
            </tr>
            <tr>
                {% for key, value in Cargo2.Item1.items %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for key, value in Cargo2.Item2.items %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
        </table>
    </body>

</html>